<h2>Add login data</h2>

<form method="post">
    {% csrf_token %}
    <label for="service_name">Service Name:
        <input type="text" name="service_name" required><br><br>
    </label>
    <label for="username">Username:
        <input type="text" name="username" required><br><br>
    </label>
    <label for="email">Email:
        <input type="text" name="email" required><br><br>
    </label>
    <label for="password">Password:
        <input type="password" name="password" required><br><br>
    </label>
    <button type="submit">Save</button>
</form>

<p><a href="{% url 'passwords_list' %}">Return to passwords list</a></p>