<html lang="pl">
<head>
    <title>Password Manager Welcome Page</title>
</head>
<body>
<div>
    Password Manager App
</div>
{% if user.is_authenticated %}
    Hello, {{ user.username }} |
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <a href="{% url 'add_password_form' %}">Add login data</a>
    <a href="{% url 'passwords_list' %}">Passwords list</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}
</body>
</html>