{% extends 'index.html' %}

{% block title %}Password Details{% endblock %}

<style>
    .card-password__image {
        width: 10%;
    }
</style>

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h2>{{ entry.service_name }} Details</h2>

            <ul class="list-group">
                <li class="list-group-item"><strong>Username:</strong> {{ entry.username }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ entry.email }}</li>
                <li class="list-group-item"><strong>Password:</strong> {{ entry.password }}</li>
                <li class="list-group-item"><strong>Created at:</strong> {{ entry.created_at|date:"Y-m-d H:i" }}</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img class="card-password__image"
                 src="https://img.logo.dev/{{ entry.service_name }}?token=pk_aBNg4o_nS9ae1rrAKdDjlQ"
                 alt="{{ entry.service_name }}" onerror='this.remove()'>
        </div>
    </div>
    <a href="{% url 'passwords_list' %}" class="btn btn-secondary mt-4">Back to List</a>
{% endblock %}