{% extends 'index.html' %}

{% block title %}Passwords List{% endblock %}

{% block content %}
    <style>
        .card-password {
            height: 220px;
        }

        .card {
            box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
            transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

        .card-password-details {
            text-decoration: none;
            color: inherit;
        }
    </style>

    <h2 class="mb-4">Passwords List</h2>

    <div class="row">
        {% for entry in entries %}
            <div class="col-md-4">
                <a href="{% url 'password_details' entry.id %}" class="card-password-details">
                    <div class="card mb-4 shadow-sm card-password">
                        <div class="row card-body">
                            <div class="col-sm-6">
                                <p class="card-text">
                                    <strong>Username:</strong> {{ entry.username }}<br>
                                    <strong>Email:</strong> {{ entry.email }}<br>
                                    <strong>Password:</strong> {{ entry.password }}
                                </p>
                                <small class="text-muted">{{ entry.created_at|date:"Y-m-d H:i" }}</small>
                                <h5 class="card-title">{{ entry.service_name }}</h5>
                            </div>
                            <img class="col-sm-6 card-password__image"
                                 src="https://img.logo.dev/{{ entry.service_name }}?token=pk_aBNg4o_nS9ae1rrAKdDjlQ"
                                 alt="{{ entry.service_name }}" onerror='this.remove()'>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <p>No passwords found.</p>
        {% endfor %}
    </div>

    <a href="{% url 'add_password_form' %}" class="btn btn-primary">Add New Password</a>
{% endblock %}