<h2>Passwords list</h2>

<table>
    <tr>
        <th>Service name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Created at</th>
    </tr>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.service_name }}</td>
            <td>{{ entry.username }}</td>
            <td>{{ entry.email }}</td>
            <td>{{ entry.password }}</td>
            <td>{{ entry.created_at|date:"Y-m-d H:i" }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No passwords</td>
        </tr>
    {% endfor %}
</table>

<p><a href="{% url 'add_password_form' %}">Add new login data</a></p>